/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para o cabeçalho */
  header {
    background: linear-gradient(to bottom, #0000FF, #000000);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  header img {
    height: 150px;
    width: auto;
    margin-right: 10px;
  }
  
  /* Estilos para o conteúdo */
  .content {
    background: linear-gradient(to bottom, #000000, #0000FF);
    padding: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .product-container img {
    width: 200px;
    margin: 10px;
  }
  